<div class="container">
  <div id="form-group-title">
    <div class="form-title-bar"></div>
    <h3 class="form-title">London COVID-19 Support</h3>
  </div>
  <%= simple_form_for @collaborator, url: collaborator_new_path, method: :post do |f| %>
    <%= f.input :first_name, placeholder: "Your answer" %>
    <%= f.input :last_name, placeholder: "Your answer"  %>
    <%= f.input :telephone, placeholder: "Your answer"  %>
    <%= f.input :neighbourhood, placeholder: "Your answer"  %>
    <%= f.input :postcode, placeholder: "Your answer"  %>
    <%= f.input :transport_type,
          id: "collab-transport",
          as: :check_boxes,
          prompt: "Select transport choice",
          collection: ["Car", "Motorcycle", "Bicycle", "Walking"] %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <div class="form-group">
      <p class="disclaimer">
        Data agreement
        <br><br>
        By pressing submit, you are consenting to share your deatils with volunteers who will contact you and ask you questions about your needs, and arrange support. Please do not provide any sensitive details that you would not wish to divulge. 
        <br><br>
        Our volunteers are asked to read and consent to our General Data Protection Notice. Nonetheless, whilst we do our best to support volunteers, volunteers are self-selecting and not processed by Stay Well Deliveries.
        <br><br>
        For further info, please e-mail us at contact@hoxton-digital.com
      </p>
    </div>
  <% end %>
</div>
