<div class="container">
  <%= simple_form_for @recipient, url: recipient_new_path, method: :post do |f| %>
    <%= f.input :first_name, placeholder: "Your answer" %>
    <%= f.input :last_name, placeholder: "Your answer" %>
    <%= f.input :telephone, placeholder: "Your answer" %>
    <%= f.input :neighbourhood, placeholder: "Your answer" %>
    <%= f.input :postcode, placeholder: "Your answer" %>
    <%= f.input :payment_type,
          as: :select,
          prompt: 'Choose payment type',
          collection: ["Paypal", "Bank Transfer", "Cash", "Can't currently afford it"] %>
    <%= f.input :support_type,
          as: :check_boxes,
          collection: ["Food/Supplies Delivery", "Prescription Collection"] %>
    <%= f.button :submit, 'Submit your request', class: "btn btn-primary" %>
  <% end %>
</div>
